<!doctype html>
<html>
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/navbar.css') }}">
</head>
<body>
	<div class="topnav">
		<a class={{ 'active' if active_page == 'home' else 'inactive'}} href="{{ url_for('home') }}">Home</a>
        <a class={{ 'active' if active_page == 'members' else 'inactive'}} href="{{ url_for('members') }}">Members</a>
        <a class={{ 'active' if active_page == 'about us' else 'inactive'}} href="{{ url_for('about_us') }}">About Us</a>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
