{% extends 'base.html' %}

{% set active_page='home' %}

{% block content %}

<style>
@font-face {
  font-family: VALORANT;
  src: url('fonts/VALORANT-Regular.eot');
  src: url('fonts/VALORANT-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/VALORANT-Regular.woff2') format('woff2'),
      url('fonts/VALORANT-Regular.woff') format('woff'),
      url('fonts/VALORANT-Regular.ttf') format('truetype'),
      url('fonts/VALORANT-Regular.svg#VALORANT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>

<div id="react-root"></div>
  
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>


<div class="scoreboard">

<p style="font-family: VALORANT"> {{ wins }} vs {{ losses }}</p>

</div>
{% endblock %}

